# Node / Expo
node_modules/
*.expo/
.expo/
dist/

# Java
**/target/
**/build/
.gradle/
*.log
gradle.properties
gradle-local.properties

# OS / IDE
.DS_Store
.idea/
*.iml

# Docker
*.env
# Editor settings
.vscode/
